@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Colors */
  --bg-primary: #ffffd4;
  --color-primary: #9c5eff;
  --color-secondary: #be96ff;
  --color-tertiary: #e9f3ff;
  --color-error: #d40018;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  padding: 0;
  height: 100%;
  @apply text-iron-950;
  background: linear-gradient(180deg, #ffffd4 0%, #fefead 100%);
  background-repeat: no-repeat;
  background-size: cover;
  text-rendering: geometricPrecision;
  font-feature-settings: "calt" off;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link {
    @apply text-gray-11 underline leading-5 text-sm font-normal;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.sticky > * {
  -webkit-transform: translateZ(0);
}

.h-modal {
  height: calc(100vh - 90px);
}

.swiper-pagination {
  top: 16px !important;
  padding: 8px 20px !important;
  display: grid !important;
  gap: 8px !important;
  height: 10px !important;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.swiper-pagination .folded-dot {
  @apply bg-white/80 h-1 w-full rounded-none;
}

.swiper-pagination .folded-dot-active {
  @apply !bg-white !opacity-100;
}
