@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Colors */
  --bg-primary: #DFF1FF;
  --color-primary: #4015EC;
  --color-secondary: #8C73F4;
  --color-tertiary: #E9F3FF;
  --color-error: #D40018;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  padding: 0;
  height: 100%;
  @apply text-iron-950;
  background-image: url('/bg-gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-rendering: geometricPrecision;
  font-feature-settings: "calt" off;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link {
    @apply text-gray-11 underline leading-5 text-sm font-normal;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.sticky > * {
  -webkit-transform: translateZ(0);
}
